@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Manrope:wght@200..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Phudu:wght@300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Phudu:wght@300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Phudu:wght@300..900&display=swap');

$manrope: 'Manrope', sans-serif;
$phudu: 'Phudu', sans-serif;
$ptsans: 'PT Sans', sans-serif;

$navy:#151F35;
// $dark-navy:#060828;
$light1:#F9F9F9;
$red:#E35353;
$gray: #CDCDCD;
$off-white: #FEFFFB;

* {
	vertical-align: baseline;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
  margin-block-end: 0;
  margin-block-start: 0;
  list-style-type: none;
  font-style: normal;
}

body{
  font-style: normal;
  font-weight: normal;
  list-style-type: none;
  text-decoration: none;
  background-color: $off-white;
}

.wrap{
  position: relative;
  width: 100%;
  height: 100%;
}

nav{
  border-bottom: 0.15rem solid $navy;
}

.nav-bar{
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list{
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.nav-item{
  padding: 0;
  display: flex;
  h3{
      display: flex;
      transition: color ease 0.3s;
      font-family: $ptsans;
      text-transform: none;
      font-weight: 700;
  }
  a{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
  }
  .nav-link{
    position: relative;
    width: 100%;
    ::after{
      content: "";
      position: absolute;
      top: 55%;
      left: 1rem;
      width: 1rem;
      height: 0.4rem;
      background-color: transparent;
      transition: width ease 0.4s;
      z-index:-1;
    }
    &:hover{
      ::after{
        width: 60%;
        background-color: $red;
      }
    }
    .nav-link-text{
      font-size: 0.9rem;
    }
  }

}

.nav-logo-container{
  max-width: 3rem;
  // padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
      height: 2rem;
      width: 100%;
  }
}

.hide{
  display: none;
  opacity: 0;
  // transition: opacity ease 0.3s;
}

.active{
  color: $navy !important;
}

.section{
  width: 100%;
  min-height: 100vh;
  scroll-snap-align: start;
}

.section-wrap{
  padding: 0 3rem;
  max-width: 100vw;
}

h1,h2,h3,h4,h5,h6,p{
  color: $navy;
}

h1{
  // font-family: 'Akira';
  font-family: $phudu;
  // text-transform: uppercase;
  // font-weight: 700;
}

h2{
  font-family: $phudu;
}

h3{
  font-family: $ptsans;
  font-weight: 600;
}

h4{
  font-family: $manrope;
  font-weight: 300;
}

h5{
  font-family: $manrope;
  font-weight: 500;
}
h6{
  font-family: $manrope;
  // text-transform: uppercase;
  font-weight: 400;
}

p{
  font-family: $manrope;
  font-weight: 400;
  line-height: 180%;
}

a{
  text-decoration: none;
}

.divider{
  border-top: 0.15rem solid $navy;
  max-width: 85rem;
  margin: auto;
}

#scroll-btn{
  cursor: pointer;
}

@keyframes scrollTop {
  0% {height: 8;}
  100% {height: 18rem;}
}

.intro{
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 20rem;
  // overflow-x: hidden;
  padding: 2rem 0;
  margin: auto;
  .intro-title-container{
      padding: 0 1rem 0 1rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }
  .intro-title{
      height: 6rem;
      padding-bottom: 2rem;
  }
  .intro-caption-container{
    padding: 0 1rem;
  }
  h1{
      display: inline;
      font-size: 2.5em;
      font-family: $phudu;
      font-weight: 800;
      line-height: 60%;
      // font-size: clamp(2rem, 6vw, 6rem);
      span{
          display: inline;
          line-height: 0;
          font-size: 1.5rem;
          font-family: $manrope;
          font-weight: 500;
      }
  }
}

footer{
  background-color: $navy;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
    .msg-container{
      padding: 2rem 0;
      background-color: $navy;
      h1{
          color: $light1;
          font-size: 2rem;
      }
  }
  .footer-link-container{
    display: flex;
    flex-direction: row;
  }
  a{
      display: flex;
      align-items: center;
      padding-right: 1.5rem;
      &:hover{
        i, h5{
          color: $red;
        }
      }
      i{
        transition: color ease 0.3s;
        color: $light1;
        opacity: 90%;
        font-size: 1.5rem;
      }
  }
  h5{
    padding-top: 2rem;
    color: $light1;
    opacity: 100%;
  }
  h6{
    padding-top: 2rem;
    color: $light1;
    opacity: 80%;
  }
}

@media only screen and (min-width: 786px) {
  .section-wrap{
    padding: 4rem;
  }
  .scroll-top-side{
    right: 6.5rem;
  }
  .nav-item{
    .nav-link{
      .nav-link-text{
        font-size: 1.1rem;
      }
    }
  }
  footer{
    .msg-container{
        h1{
            color: $light1;
            font-size: 2rem;
            max-width: 25rem;
        }
    }
    h5{
      padding: 0;
    }
    .footer-section-container{
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      align-items: center;
    }
  }

  .intro{
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    min-height: 10rem;
    padding-left: 2rem;
    padding-right: 2rem;
    // width: 100%;
    .intro-title-container{
        padding: 0;
        display: flex;
        flex-direction: column;
        // flex-wrap: wrap;
        justify-content: start;
        flex-basis: 60%;
    }
    .intro-title{
        text-align: left;
        // width: 50%;
        z-index: 10;
        h1{
            font-size: 2.3rem;
            line-height: 120%;
            span{
                font-size: 2rem;
            }
        }
    }
    .intro-caption-container{
      flex-basis: 50%;
    }
}

}


@media only screen and (min-width: 1200px) {
  .section-wrap{
      padding: 5rem 10rem;
  }
  .nav-bar{
    max-width: 82rem;
    padding: 1rem 0;
    img{
      padding: 0;
    }
    .nav-item{
      .nav-link{
        .nav-link-text{
          font-size: 1.3rem;
        }
      }
    }
  }

  .intro{
      max-width: 80rem;
  }
  .intro{
      padding:5rem;
      .intro-title-container{
          flex-basis: 65%;
          padding-right: 4rem;
      }
      .intro-title{
          height: fit-content;
          h1{
              font-size: 3.5rem;
              line-height: 120%;
          }
      }
      .intro-caption-container{
        h4{
          font-size: 1.5rem;
          font-weight: 500;
          line-height: 150%;
        }
      }
  }

  .footer-container{
    margin: auto;
    width: 100%;
    max-width: 80rem;
  }
}