@import "_global.scss";

// .wrap{
//     background-color: $red;
// }
h1,h2,h3,h4,h5,h6,p{
    color: $navy;
}

h4, h5{
    font-family: $manrope;
    font-weight: 500;
}

.about{
    padding: 3rem 0;
    position: relative;
    min-height: 22rem;
    h1{
        font-family: $phudu;
        text-transform: none;
        font-weight: 800;
        font-size: 2rem;
        // margin: 0;
        padding-bottom: 1rem;
        border-bottom: thin solid $navy;
    }
    .dp-container{
        height: 20rem;
        overflow: hidden;
        img{
            object-fit: contain;
            // height: 100%;
            width: 100%;
        }
    }
    .about-caption-wrap{
        display: flex;
        flex-direction: column;
        h3{
            font-weight: 500;
            line-height: 150%;
            font-size: 1rem;
            font-family: $manrope;
        }
        .about-caption{
            padding-bottom: 1rem;
        }
    }
    .link-container{
        display: flex;
        flex-direction: row;
        padding: 1rem 0;
        }
        a{
            display: flex;
            align-items: center;
            padding-right: 1.5rem;
            &:hover{
            i, h5{
                color: $red;
            }
            }
            i{
            transition: color ease 0.3s;
            color: $navy;
            opacity: 100%;
            font-size: 1.5rem;
            }
    }
}

.cv{
    padding-bottom: 5rem;
    .cv-text-container{
        padding-bottom: 1rem;
        .cv-text-content-wrap{
            display: flex;
            justify-content: space-between;
            width: 100%;
            flex-wrap: wrap;
        }
        .cv-text-content-container{
            flex: 0 0 45%;
            // border: thin solid black;
            padding-bottom: 2rem;
            // border: thin solid red;
            // display: flex;
            // flex-direction: row;
            // flex-wrap: wrap;
        }
        .cv-text-title-container{
            // width: 100%;
            padding-bottom: 1rem;
            h3{
                font-size: 1.2rem;
                // font-family: $syne;
                opacity: 50%;
                font-weight: 700;
            }
        }
        .cv-sub-title-container{
            // width: 100%;
            padding-bottom: 0.5rem;
            h4{
                font-size: 1.3rem;
                font-weight: 500;
            }
        }
        .cv-role-container{
            // width: 100%;
            padding-bottom: 1rem;
            p{
                font-size: 0.8rem;
                font-weight: 500;
            }
        }
        .cv-date{
            // width: 100%;
            align-self: flex-end;
            h5{
                font-size: 0.9rem;
                font-weight: 500;
            }
        }
        .cv-skill-container{
            padding-bottom: 2rem;
            h5{
                text-transform: uppercase;
                font-weight: 500;
                padding-bottom: 0.5rem;
            }
        }
    }
}

@media only screen and (min-width: 786px) {
    .section-wrap{
        padding: 0 4rem;
    }
    .cv-text-container{
        padding-bottom: 2rem;
    }
    .about{
        // padding: 6rem;
        // min-height: 70vh;
        h1{
            font-weight: 800;
            font-size: 2rem;
            margin: 0;
            padding-bottom: 1rem;
            border-bottom: thin solid $navy;
        }
        .about-container{
            display: flex;
            flex-direction: row;
        }
        .dp-container{
            height: 80vw;
            max-height: 28rem;
            flex-basis: 50%;
        }
        .about-caption-wrap{
            // border: thin solid red;
            flex-basis: 50%;
            padding-left: 4rem;
            .about-caption-container{
                padding-top: 2rem;
            }
            h3{
                line-height: 150%;
                font-size: 1rem;
            }
        }
    }
    .cv{
        .section-wrap{
            padding: 0 6rem;
        }
        .cv-content{
            margin: 0 auto;
            max-width: 50rem;
        }
        .cv-text-container{
            .cv-text-content-container{
                flex: 0 0 45%;
            }
            .cv-text-title-container{
                h3{
                    font-size: 1.2rem;
                }
            }
            .cv-sub-title-container{
                h4{
                    font-size: 1.5rem;
                    font-weight: 600;
                }
            }
            .cv-role-container{
                display: flex;
                flex-grow: 1;
                flex-direction: column;
                p{
                    font-size: 1rem;
                    font-weight: 600;
                }
            }
            .cv-date{
                h5{
                    font-size: 1rem;
                    font-weight: 600;
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .section-wrap{
        padding: 0;
    }
    .about{
        // border: thin solid red;
        max-width: 80rem;
        margin: auto;
        padding-right: 2rem;
        padding-left: 2rem;
        padding-bottom: 5rem;
        h1{
            font-size: 2.5rem;
        }
        .about-caption{
            h3{
                font-size: 1.3rem;
            }
        }
        .dp-container{
            height: 35rem;
            max-height: none;
            flex-basis: 40%;
        }

    }
    .cv{
        .section-wrap{
            padding: 0 2rem;
        }
        .cv-content{
            margin: 0 auto;
            max-width: 80rem;
            // padding-right: 5rem;
        }
        .cv-text-container{
            padding-bottom: 3rem;
            .cv-text-content-container{
                flex: 0 0 45%;
                padding-right: 3rem;
                padding-bottom: 3rem;
            }
            .cv-text-title-container{
                h3{
                    font-size: 1.5rem;
                }
            }
            .cv-sub-title-container{
                h4{
                    font-size: 1.5rem;
                }
            }
            .cv-role-container{
                p{
                    font-size: 1.2rem;
                    font-weight: 500;
                }
            }
            .cv-date{
                h5{
                    font-size: 1rem;
                }
            }
            .skills-container{
                display: flex;
                justify-content: space-between;
                .cv-skill-title-container{
                    h5{
                        font-size: 1.2rem;
                        font-weight: 600;
                    }
                }
                p{
                    font-size: 1.2rem;
                    font-weight: 500;
                }
                .cv-skill-container{
                    flex: 0 0 45%;
                    padding-right: 3rem;
                }
            }
        }
    }
}