.grid{
    // background-color: #060828;
    padding-bottom: 3rem;
    .grid-container{
        padding: 2rem 0;
        .grid-item{
            // height: 30rem;
            padding: 0 2rem;
            img, video{
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }
    }
}


@media only screen and (min-width: 786px) {
.grid{
    .grid-wrap{
        padding: 0 2rem;
    }
    .grid-container{
        display: flex;
        flex-wrap: wrap;
        padding: 2rem;
        .grid-item{
            flex-basis: 50%;
            width: 100%;
            padding: 0;
            // img{
            //     object-fit: cover;
            // }
        }
    }
}
}

@media only screen and (min-width: 1200px) {
.grid{
    .grid-wrap{
        padding: 0;
    }
    // background-color: #060828;
    padding-bottom: 3rem;
    .grid-container{
        padding: 2rem 0;
        flex-wrap: wrap;
        .grid-item{
            padding: 0;
            // height: 100%;
            // width: 33.33%;
            // border: thin solid red;
            flex-basis: 33.33%;
            img, video{
                object-fit: cover;
                // height: 100%;
                width: 100%;
            }
        }
        .last-grid-item{
            display: block;
        }
    }
}
}