@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Manrope:wght@200..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Phudu:wght@300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Phudu:wght@300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Phudu:wght@300..900&display=swap");
* {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  margin-block-end: 0;
  margin-block-start: 0;
  list-style-type: none;
  font-style: normal;
}

body {
  font-style: normal;
  font-weight: normal;
  list-style-type: none;
  text-decoration: none;
  background-color: #FEFFFB;
}

.wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

nav {
  border-bottom: 0.15rem solid #151F35;
}

.nav-bar {
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.nav-item {
  padding: 0;
  display: flex;
}
.nav-item h3 {
  display: flex;
  transition: color ease 0.3s;
  font-family: "PT Sans", sans-serif;
  text-transform: none;
  font-weight: 700;
}
.nav-item a {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
}
.nav-item .nav-link {
  position: relative;
  width: 100%;
}
.nav-item .nav-link ::after {
  content: "";
  position: absolute;
  top: 55%;
  left: 1rem;
  width: 1rem;
  height: 0.4rem;
  background-color: transparent;
  transition: width ease 0.4s;
  z-index: -1;
}
.nav-item .nav-link:hover ::after {
  width: 60%;
  background-color: #E35353;
}
.nav-item .nav-link .nav-link-text {
  font-size: 0.9rem;
}

.nav-logo-container {
  max-width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-logo-container img {
  height: 2rem;
  width: 100%;
}

.hide {
  display: none;
  opacity: 0;
}

.active {
  color: #151F35 !important;
}

.section {
  width: 100%;
  min-height: 100vh;
  scroll-snap-align: start;
}

.section-wrap {
  padding: 0 3rem;
  max-width: 100vw;
}

h1, h2, h3, h4, h5, h6, p {
  color: #151F35;
}

h1 {
  font-family: "Phudu", sans-serif;
}

h2 {
  font-family: "Phudu", sans-serif;
}

h3 {
  font-family: "PT Sans", sans-serif;
  font-weight: 600;
}

h4 {
  font-family: "Manrope", sans-serif;
  font-weight: 300;
}

h5 {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

h6 {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}

p {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  line-height: 180%;
}

a {
  text-decoration: none;
}

.divider {
  border-top: 0.15rem solid #151F35;
  max-width: 85rem;
  margin: auto;
}

#scroll-btn {
  cursor: pointer;
}

@keyframes scrollTop {
  0% {
    height: 8;
  }
  100% {
    height: 18rem;
  }
}
.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 20rem;
  padding: 2rem 0;
  margin: auto;
}
.intro .intro-title-container {
  padding: 0 1rem 0 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.intro .intro-title {
  height: 6rem;
  padding-bottom: 2rem;
}
.intro .intro-caption-container {
  padding: 0 1rem;
}
.intro h1 {
  display: inline;
  font-size: 2.5em;
  font-family: "Phudu", sans-serif;
  font-weight: 800;
  line-height: 60%;
}
.intro h1 span {
  display: inline;
  line-height: 0;
  font-size: 1.5rem;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

footer {
  background-color: #151F35;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}
footer .msg-container {
  padding: 2rem 0;
  background-color: #151F35;
}
footer .msg-container h1 {
  color: #F9F9F9;
  font-size: 2rem;
}
footer .footer-link-container {
  display: flex;
  flex-direction: row;
}
footer a {
  display: flex;
  align-items: center;
  padding-right: 1.5rem;
}
footer a:hover i, footer a:hover h5 {
  color: #E35353;
}
footer a i {
  transition: color ease 0.3s;
  color: #F9F9F9;
  opacity: 90%;
  font-size: 1.5rem;
}
footer h5 {
  padding-top: 2rem;
  color: #F9F9F9;
  opacity: 100%;
}
footer h6 {
  padding-top: 2rem;
  color: #F9F9F9;
  opacity: 80%;
}

@media only screen and (min-width: 786px) {
  .section-wrap {
    padding: 4rem;
  }
  .scroll-top-side {
    right: 6.5rem;
  }
  .nav-item .nav-link .nav-link-text {
    font-size: 1.1rem;
  }
  footer .msg-container h1 {
    color: #F9F9F9;
    font-size: 2rem;
    max-width: 25rem;
  }
  footer h5 {
    padding: 0;
  }
  footer .footer-section-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
  }
  .intro {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    min-height: 10rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .intro .intro-title-container {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-basis: 60%;
  }
  .intro .intro-title {
    text-align: left;
    z-index: 10;
  }
  .intro .intro-title h1 {
    font-size: 2.3rem;
    line-height: 120%;
  }
  .intro .intro-title h1 span {
    font-size: 2rem;
  }
  .intro .intro-caption-container {
    flex-basis: 50%;
  }
}
@media only screen and (min-width: 1200px) {
  .section {
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
  .section-wrap {
    padding: 5rem 10rem;
  }
  .nav-bar {
    max-width: 82rem;
    padding: 1rem 0;
  }
  .nav-bar img {
    padding: 0;
  }
  .nav-bar .nav-item .nav-link .nav-link-text {
    font-size: 1.3rem;
  }
  .intro {
    max-width: 80rem;
  }
  .intro {
    padding: 5rem;
  }
  .intro .intro-title-container {
    flex-basis: 65%;
    padding-right: 4rem;
  }
  .intro .intro-title {
    height: -moz-fit-content;
    height: fit-content;
  }
  .intro .intro-title h1 {
    font-size: 3.5rem;
    line-height: 120%;
  }
  .intro .intro-caption-container h4 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 150%;
  }
  .footer-container {
    margin: auto;
    width: 100%;
    max-width: 80rem;
  }
}
.wrap {
  position: relative;
}

.section-header {
  font-size: 2rem;
}

.home {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 20rem;
  padding: 2rem 0;
  margin: auto;
}
.home .home-title-container {
  padding: 0 1rem 0 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.home .home-title {
  height: 6rem;
}
.home h1 {
  display: inline;
  font-size: 2.5em;
  font-family: "Phudu", sans-serif;
  font-weight: 800;
  line-height: 60%;
}
.home h1 span {
  display: inline;
  line-height: 0;
  font-size: 1.5rem;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}
.home .animated-stroke-container {
  padding: 2vw 0;
  width: 100%;
  max-width: 40rem;
  display: flex;
  justify-content: center;
}
.home .animated-stroke-container .subtitle-container {
  text-align: center;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, 0);
}
.home .animated-stroke-container h2 {
  color: #F9F9F9;
  font-size: 5vw;
}
.home .animated-stroke-container svg {
  height: 100%;
  width: 100%;
  max-width: 38rem;
}
.home .home-img-container {
  display: none;
}
.home .subtitle-container {
  width: 100%;
  position: relative;
}
.home .subtitle-container .subtitle {
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.home .subtitle-container .subtitle {
  opacity: 0;
}
.home .subtitle-container .subtitle-fade {
  opacity: 0;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.section-title-container {
  padding: 1rem;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
}
.section-title-container a > h3 {
  transition: all ease 0.3s;
}
.section-title-container a > h3:hover {
  color: #E35353;
}

.portfolio {
  padding-bottom: 4rem;
}
.portfolio .project-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}
.portfolio .project-grid .project-grid-item {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  height: 25rem;
  overflow-y: hidden;
}
.portfolio .project-grid .project-grid-item a {
  height: 100%;
}
.portfolio .project-grid .project-grid-item img {
  max-width: 100%;
}
.portfolio .project-grid .project-grid-item .project-title-wrap {
  display: flex;
  padding: 2rem;
}
.portfolio .project-grid .project-grid-item .project-title-wrap h3 {
  font-size: clamp(2rem, 6vw, 6rem);
  color: #F9F9F9;
  padding-bottom: 0.5rem;
}
.portfolio .project-grid .project-grid-item .project-title-wrap h4 {
  font-size: 1.3rem;
  color: #F9F9F9;
}
.portfolio .project-grid .project-grid-item .project-title-wrap .project-num {
  padding-right: 1rem;
  color: #E35353;
}
.portfolio .project-grid .project-grid-item .project-description {
  padding-bottom: 2rem;
  flex-grow: 1;
  text-align: center;
}
.portfolio .project-grid .project-grid-item .project-btn {
  background-color: #151F35;
  max-width: 13rem;
  display: flex;
  justify-content: center;
  transition: background-color ease 0.3s;
  cursor: pointer;
}
.portfolio .project-grid .project-grid-item .project-btn p {
  color: white;
  padding: 1rem 2rem;
  font-weight: 500;
}
.portfolio .project-grid .project-grid-item .project-btn:hover {
  background-color: #E35353;
}
.portfolio .project-grid .project-grid-item .project-img-container {
  position: relative;
  padding: 0 2rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.portfolio .project-grid .project-grid-item .project-img-container img {
  height: 100%;
  max-height: 20rem;
  margin: auto;
}
.portfolio .project-grid .project-grid-item .project-desc {
  position: absolute;
  z-index: 500;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity ease 0.3s;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(8.6px);
  -webkit-backdrop-filter: blur(8.6px);
}
.portfolio .project-grid .project-grid-item .project-desc :first-child {
  padding-bottom: 1rem;
}
.portfolio .project-grid .project-grid-item .project-desc p {
  width: 60%;
  font-size: 0.9rem;
  color: #F9F9F9;
}
.portfolio .project-grid #project-card1 {
  background-color: #6955D9;
}
.portfolio .project-grid #project-card2 {
  background-color: #2B2E2B;
}
.portfolio .project-grid #project-card3 {
  background-color: #6C63FF;
}
.portfolio .project-grid #project-card4 {
  background-color: #CF3D52;
}

.archive {
  padding-bottom: 3rem;
}
.archive .archive-container {
  padding: 2rem 0;
}
.archive .archive-container .archive-item {
  height: 30rem;
  padding: 0 2rem;
}
.archive .archive-container .archive-item img, .archive .archive-container .archive-item video {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.card-hover {
  transition: transform 0.3s ease;
  transform: scale(1);
  transform-style: preserve-3d;
  will-change: transform;
  cursor: pointer;
}
.card-hover:hover {
  transform: scale(1.02);
  color: red;
  z-index: 100;
}

@media only screen and (min-width: 786px) {
  .home {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    min-height: 20rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .home .home-title-container {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-basis: 60%;
  }
  .home .home-title {
    text-align: left;
    z-index: 99999;
  }
  .home .home-title h1 {
    font-size: 2.3rem;
    line-height: 120%;
  }
  .home .home-title h1 span {
    font-size: 2rem;
  }
  .home .animated-stroke-container {
    flex-basis: 55%;
    position: relative;
    justify-content: start;
  }
  .home .animated-stroke-container .subtitle-container {
    text-align: center;
    width: 100%;
    position: absolute;
    left: 14rem;
    top: 39%;
    transform: translate(-50%, 0);
  }
  .home .animated-stroke-container h2 {
    color: #F9F9F9;
    font-size: 2rem;
  }
  .home .animated-stroke-container svg {
    height: 100%;
    width: 100%;
    max-width: 30rem;
  }
  .home .home-img-container {
    display: block;
    height: 100%;
    width: 100%;
    flex-basis: 35%;
  }
  .section-title-container {
    padding: 1rem 2rem;
    font-size: 1rem;
  }
  .section-wrap {
    padding: 10vw;
  }
  .portfolio .portfolio-wrap {
    margin: 0;
    padding: 0 2rem;
  }
  .portfolio .project-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }
  .portfolio .project-grid .project-grid-item {
    flex: 0 0 50%;
  }
  .portfolio .project-grid .project-grid-item .project-title-wrap {
    display: flex;
  }
  .portfolio .project-grid .project-grid-item .project-title-wrap h3 {
    font-size: 2rem;
  }
  .portfolio .project-grid .project-grid-item .project-title-wrap h4 {
    font-size: 1.6rem;
    transition: transform ease 0.2s;
    display: flex;
  }
  .archive .archive-wrap {
    padding: 0 2rem;
  }
  .archive .archive-container {
    display: flex;
  }
  .archive .archive-container .archive-item {
    width: 50%;
    padding: 0;
  }
  .archive .last-archive-item {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  .home {
    max-width: 80rem;
  }
  .home {
    padding: 5rem;
  }
  .home .home-title-container {
    flex-basis: 65%;
  }
  .home .home-title {
    height: -moz-fit-content;
    height: fit-content;
  }
  .home .home-title h1 {
    font-size: 3.5rem;
    line-height: 120%;
  }
  .home .home-title h1 span {
    font-size: 3rem;
  }
  .home .animated-stroke-container {
    position: relative;
    justify-content: start;
    width: 100%;
    flex-basis: 100%;
    max-width: 45rem;
    padding: 2rem 0;
  }
  .home .animated-stroke-container .subtitle-container {
    text-align: center;
    width: 100%;
    position: absolute;
    left: 22rem;
    top: 42.5%;
    transform: translate(-50%, 0);
  }
  .home .animated-stroke-container h2 {
    color: #F9F9F9;
    font-size: 2.5rem;
  }
  .home .animated-stroke-container svg {
    height: 100%;
    width: 100%;
    max-width: none;
  }
  .home .home-img-container {
    display: block;
    height: 100%;
    width: 100%;
    flex-basis: 35%;
  }
  .section-container {
    margin: auto;
    justify-content: center;
    width: 100%;
    max-width: 80rem;
    padding: 0;
  }
  .section-title-container {
    padding: 2rem 0;
  }
  .portfolio .portfolio-wrap {
    padding: 0;
  }
  .portfolio .project-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }
  .portfolio .project-grid .project-grid-item {
    flex: 0 0 50%;
    height: 30rem;
  }
  .portfolio .project-grid .project-grid-item .project-title-wrap {
    display: flex;
  }
  .portfolio .project-grid .project-grid-item .project-title-wrap h3 {
    font-size: 2rem;
  }
  .portfolio .project-grid .project-grid-item .project-title-wrap h4 {
    font-size: 1.6rem;
    transition: transform ease 0.2s;
    display: flex;
  }
  .archive {
    padding-bottom: 3rem;
  }
  .archive .archive-wrap {
    padding: 0;
  }
  .archive .archive-container {
    padding: 0 0 2rem 0;
  }
  .archive .archive-container .archive-item {
    padding: 0;
    width: 33.333%;
  }
  .archive .archive-container .archive-item img, .archive .archive-container .archive-item video {
    height: 100%;
    width: 100%;
  }
  .archive .archive-container .last-archive-item {
    display: block;
  }
}