@use "global" as g;

.wrap{
    position: relative;
    // overflow-x: hidden;
}

.section-header{
    font-size: 2rem;
}

.scroll-svg{
    // display: none;
    // // // height: clamp(20rem, 100vh, 100%);
    // height: 100%;
    // max-height: 150rem;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // width: 150%;
    // max-width: 2560px;
    svg{
        position: absolute;
        top: 10rem;
        // height: 100%;
        .my-path {
            fill: none;              /* important — fill hides the stroke effect */
            stroke: g.$red;
            stroke-width: 40;
            stroke-linecap: round;
        }
    }

}

.home{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 20rem;
    // overflow-x: hidden;
    justify-content: center;
    padding: 2rem 0;
    margin: auto;
    .home-title-container{
        padding: 0 1rem 0 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        // width: 80%;
    }
    .home-title{
        min-height: 6rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 0 0 0 1rem;
        .title-container{
            display: flex;
            align-items: center;
            svg{
                // height: rem;
                width: clamp(2rem, 3vw, 4rem);
                padding: 0.5rem;
                overflow: visible;
            }
        }
        h2, h3{
            padding-left: 0;
        }
    }
    h1{
        display: inline;
        font-size: clamp(3rem, 8vw, 8rem);
        font-family: g.$phudu;
        font-weight: 700;
        line-height: 60%;
        // font-size: clamp(2rem, 6vw, 6rem);
        // padding-right: 1rem;
        margin: 1rem 0;
    }
    h2{
        font-size: clamp(1rem, 7vw, 2.5rem);
        font-family: g.$satoshi-var;
        font-weight: 500;
        text-transform: uppercase;
        background: linear-gradient(180deg, #E35353 0%, #CE3615 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
    }
    h3{
        font-size: clamp(1rem, 6vw, 1.5rem);
        font-family: g.$satoshi-var;
        font-weight: 500;
        text-transform: uppercase;
        padding: 0.6rem 0;
        max-width: 35rem;
    }

    .subtitle-container{
        width: 100%;
        position: relative;
        .subtitle{
            width: 100%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        .subtitle{
            opacity: 0;
            // animation: fade-out ease-in-out 2s infinite;
        }
        .subtitle-fade{
            opacity: 0;
        }
        // #fadetext2{
        //     animation: fade-out ease-in-out 5s infinite;
        //     animation-delay: 1s;
        // }
    }

    #Cross, #Line{
        fill: g.$navy;
    }
    
    #Cross{
        transform-origin: 50% 50%;
        transition: transform 1s cubic-bezier(0.34, 1.56, 0.64, 1);
    }

    svg:hover #Cross {
        transform: rotate(180deg);
    }

    #Line{
        transform-origin: 50% 50%;
        transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
    }

    svg:hover #Line {
        transform: rotate(-180deg);
    }

    // @keyframes spin-right {
    // 0% {
    //     // transform-origin: 50% 50%;
    // }
    // 100% {
    //     transition: transform 1s cubic-bezier(0.34, 1.56, 0.64, 1);
    //     transform: rotate(180deg);
    // }
    // }
    // @keyframes spin-left {
    // 0% {
    //     // transform-origin: 50% 50%;
    // }
    // 100% {
    //     transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
    //     transform: rotate(-180deg);
    // }
    // }

    #Cross{
        transform-origin: center;
        animation: spin-right 1s;
    }
    #Line{
        transform-origin: center;
        animation: spin-left 1s;
    }


}

.section-title-container{
    padding: 1rem;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    a > h3{
        transition: all ease 0.3s;
        &:hover{
            color: g.$red;
        }
    }
    // border-top: 0.15rem solid g.$navy;
}

.portfolio{
    // background-color: g.$navy;
    padding-bottom: 4rem;
    .project-grid{
        display: flex;
        flex-wrap: wrap;
        margin: 1rem;
        border-radius: 0.5rem;
        overflow: hidden;
        .project-grid-item{
            flex: 0 0 100%;
            display: flex;
            flex-direction: column;
            height: 20rem;
            overflow-y: hidden;
            border-radius: 1px;
            a{
                height: 100%;
            }
            img{
                max-width: 100%;
            }
            .project-title-wrap{
                display: flex;
                padding: 2rem;
                h3{
                    font-size: clamp(2rem, 6vw, 6rem);
                    color: g.$light1;
                    padding-bottom: 0.5rem;
                }
                h4{
                    font-size: 1.3rem;
                    color: g.$light1;
                }
                .project-num{
                    padding-right: 1rem;
                    color: g.$red;
                }
            }
            .project-description{
                padding-bottom: 2rem;
                flex-grow: 1;
                text-align: center;
            }
            .project-btn{
                background-color: g.$navy;
                max-width: 13rem;
                display: flex;
                justify-content: center;
                transition: background-color ease 0.3s;
                cursor: pointer;
                p{
                    color: white;
                    padding: 1rem 2rem;
                    // font-family: g.$akira;
                    font-weight: 500;
                }
                &:hover{
                    background-color: g.$red;
                }
            }
            .project-img-container{
                position: relative;
                padding: 0 2rem;
                // height: 100%;
                overflow: hidden;
                display: flex;
                justify-content: center;
                img{
                    height: 100%;
                    max-height: 20rem;
                    // width: 100%;
                    margin: auto;
                }
            }
            .project-desc{
                position: absolute;
                z-index: 500;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                top: 0;
                left: 0;
                opacity: 0;
                transition: opacity ease 0.3s;
                background: rgba(0, 0, 0, 0.7);
                backdrop-filter: blur(8.6px);
                -webkit-backdrop-filter: blur(8.6px);
                :first-child{
                    padding-bottom: 1rem;
                }
                p{
                    width: 60%;
                    font-size: 0.9rem;
                    color: g.$light1;
                }
            }
        }
        #project-card1{
            background-color: #6955D9;
        }
        #project-card2{
            background-color: #2B2E2B;
        }
        #project-card3{
            background-color: #6C63FF;
        }
        #project-card4{
            background-color: #CF3D52;
        }
    }
}

.archive{
    // background-color: #060828;
    // padding-bottom: 3rem;
    .archive-container{
        margin: 1rem;
        border-radius: 0.5rem;
        .archive-item{
            height: 30rem;
            // padding: 0 2rem;
            img, video{
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }
    }
}

.card-hover{
    transition: transform 0.3s ease;
    transform: scale(1);
    transform-style: preserve-3d;
    will-change: transform;
    cursor: pointer;
    &:hover{
        transform: scale(1.02);
        color: red;
        z-index: 100;
    }
}



@media only screen and (min-width: 786px) {   
    .section{
        min-height: 50rem;
    }

    .home{
        min-height: 20rem;
        padding: 5rem 0;
        .home-title{
            h1{
                // font-size: clamp(5rem, 7vw, 12rem);
                padding: 0.5rem 0;
            }
            h2{
                // line-height: 90%;
                // font-size: clamp(4rem, 4vw, 8rem);
                // padding-left: 10rem;
                padding: 0.2rem 0;
            }
            h3{
                font-size: clamp(1rem, 4vw, 2rem);
                // padding: 1rem 0;
                max-width: 45rem;
            }
            .title-container{
                h1{
                    margin-right: 1rem;
                }
                svg{
                width: 4rem;
                }
            }
        }
    }
    .section-title-container{
        padding: 1rem 2rem;
        font-size: 1rem;
    }

    .section-wrap{
        padding: 10vw;
    }

    .portfolio{
        padding: 2rem 0;
        .portfolio-wrap{
            margin: 0;
            padding: 0 2rem;
        }
        .project-grid{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 0;
            // max-width: 80rem;
            .project-grid-item{
                flex: 0 0 50%;
                max-width: 35rem;
                // margin-bottom: 4rem;
                .project-title-wrap{
                    display: flex;
                    h3{
                        font-size: 2rem;
                    }
                    h4{
                        font-size: 1.6rem;
                        transition: transform ease 0.2s;
                        display: flex;
                    }
                }
            }
        }
    }
    .archive{
        .archive-wrap{
            padding: 0 2rem;
        }
        .archive-container{
            display: flex;
            .archive-item{
                width: 33.33%;
                padding: 0;
            }
        }
        // .last-archive-item{
        //     display: none;
        // }
    }
  }
@media only screen and (min-width: 1600px) {
    // .home{
    //     // max-width: 80rem;
    // }
    .scroll-svg{
        display: revert;
    }
    // .home *{
    //     border: thin solid red;
    // }
    .home{
        padding:5rem 5rem 0 5rem;
        height: clamp(35rem, 30vw, 50rem);
        justify-content: center;
        .home-title-container{
            flex-basis: 65%;
            padding: 0;
        }
        .home-title{
            height: fit-content;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 0 10rem 0 13rem;
            // justify-content: center;
            h1{
                font-size: clamp(5rem, 7vw, 12rem);
                // line-height: 120%;
                // padding: 2rem 2rem 2rem 0;
                padding: 1.5rem 1rem 1.5rem 0;
            }
            h2{
                align-self: flex-end;
                line-height: 90%;
                font-size: clamp(4rem, 5vw, 7rem);
                padding: 0 0 0 7rem;
            }
            h3{
                padding: 1rem 0;
                width: 100rem;
                line-height: 100%;
                font-size: clamp(2rem, 4vw, 3.5rem);
                padding-left: 7rem;
                max-width: 70rem;
            }
            .title-container{
                svg{
                    width: 8rem;
                }
            }
        }
    }
    .section-container{
        margin: auto;
        // flex-direction: column;
        justify-content: center;
        width: 100%;
        max-width: 80rem;
        padding: 0 ;
    }
    .section-title-container{
        padding: 2rem 0;
        // width: 100%;
    }

    .portfolio{
        padding-top: 5rem;
        .portfolio-wrap{
            padding: 0;
        }
        .project-grid{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 0;
            .project-grid-item{
                flex: 0 0 50%;
                // margin-bottom: 4rem;
                height: 30rem;
                max-width: none;
                .project-title-wrap{
                    display: flex;
                    h3{
                        font-size: 2rem;
                    }
                    h4{
                        font-size: 1.6rem;
                        transition: transform ease 0.2s;
                        display: flex;
                    }
                }
            }
        }
    }

    .archive{
        margin-bottom: 6rem;
        .archive-wrap{
            padding: 0;
        }
        // background-color: #060828;
        padding-bottom: 3rem;
        .archive-container{
            // border: thin solid black;
            border-radius: 0.5rem;
            overflow: hidden;
            margin-bottom: 2rem;
            .archive-item{
                padding: 0;
                width: 33.333%;
                border-radius: 2px;
                img, video{
                    // object-fit: fill;
                    height: 100%;
                    width: 100%;
                }
            }
            .last-archive-item{
                display: block;
            }
        }
    }
  }